:root {
  font-family:  Poppins, sans-serif;

  color-scheme: light dark;
  color: var(--color);
  --color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  --background-color: #1e1e1e;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --outline-color: #5d5d5d;
  --card-background-color: #242424f0;
  --dropshadow-color: #00000041;
}

html{
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

input {
  border-radius: 8px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--card-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  filter: drop-shadow(0 0 0.5em var(--dropshadow-color));
}

input {
  background: var(--card-background-color);
  border-color: var(--outline-color);
}
input::placeholder {
  color: #909090; /* Change to your desired placeholder text color */
}
h1 {
  font-size: 2em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

h2 {
  font-weight: 300;
  font-size: 1.2em;
}

h3 {
  font-weight: 300;
  font-size: 0.8em;
}

label {
  font-weight: 300;
  font-size: 0.9em;
  margin-right: 0.5em;
  align-self: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color);
    --color: #213547;
    background-color: var(--background-color);
    --background-color: #f3f2f2e2;
    --card-background-color: #fffffff7;
    --outline-color: #c2c2c2;
    --dropshadow-color: #0000001f;
  }
}

.chart-title {
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Show ellipsis (...) when the content overflows */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
  text-align: left; 
  padding: 0.1em 0.5em 0 0.1em;
}

.chart-subtitle {
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Show ellipsis (...) when the content overflows */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
  text-align: left; 
  padding: 0 2em 0 0.4em;
}

.datasource-overlay {
  position: absolute;
  margin: 0.3em auto;
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Show ellipsis (...) when the content overflows */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
  color: var(--card-background-color);
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.config-option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: right;
  gap: 5px;
  margin: 10px;
}

.config-select {
  padding: 5px;
  border-radius: 0.5em;
  background-color: var(--card-background-color);
  border-color: var(--outline-color);
  width: 110px;
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Show ellipsis (...) when the content overflows */
  white-space: nowrap; /* Prevent text from wrapping onto the next line */
}